extends layout

block content
  h1 We&rsquo;ll be back soon!
  p.
    Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment. <br/>
    If you need to you can always <a href="mailto:yinonharush@gmail.com">contact us</a>, otherwise we&rsquo;ll be back online shortly!
  p.
    &mdash; The Team